@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	position: relative;
	/*background: url(../images/star_map.mp4) no-repeat center center;*/
	background-size: cover;
	height: 100vh;
	font-family: "Raleway", sans-serif;
	overflow-y: hidden;
}

.content1 {
	max-width: 650px;
	margin: 0 auto;
	top: 35%;
	position: relative;
}

h1 {
    line-height: 1.5;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 2px 5px black;
}


/* PRELOADER CSS */
.page-loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #272727;
	z-index: 1000;
}

.txt{
    color: #666;
    text-align: center;
    top: 40%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
}

/* SPINNER ANIMATION */
.spinner {
	position: relative;
	top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

body{
  /* No Select Text */
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
}

.faction0{
  background-color:transparent; border-radius:50px;
}

.faction1{
  background-color:transparent; border-radius:50px;
  box-shadow: 0 0 8px #4c64ea, inset 0 0 8px #4c64ea;
  -webkit-animation: faction1-pulse 2s linear 1s infinite;
}
@-webkit-keyframes faction1-pulse {
  0% { box-shadow:0 0 8px #4c64ea, inset 0 0 8px #4c64ea; }
  50% { box-shadow:0 0 16px #4c64ea, inset 0 0 14px #4c64ea; }
  100% { box-shadow:0 0 8px #4c64ea, inset 0 0 8px #4c64ea; }
}

.faction2{
  background-color:transparent; border-radius:50px;
  box-shadow: 0 0 8px #ebeb4d, inset 0 0 8px #ebeb4d;
  -webkit-animation: faction2-pulse 2s linear 1s infinite;
}
@-webkit-keyframes faction2-pulse {
  0% { box-shadow:0 0 8px #ebeb4d, inset 0 0 8px #ebeb4d; }
  50% { box-shadow:0 0 16px #ebeb4d, inset 0 0 14px #ebeb4d; }
  100% { box-shadow:0 0 8px #ebeb4d, inset 0 0 8px #ebeb4d; }
}

.faction3{
  background-color:transparent; border-radius:50px;
  box-shadow: 0 0 8px #c94deb, inset 0 0 8px #c94deb;
  -webkit-animation: faction3-pulse 2s linear 1s infinite;
}
@-webkit-keyframes faction3-pulse {
  0% { box-shadow:0 0 8px #c94deb, inset 0 0 8px #c94deb; }
  50% { box-shadow:0 0 16px #c94deb, inset 0 0 14px #c94deb; }
  100% { box-shadow:0 0 8px #c94deb, inset 0 0 8px #c94deb; }
}

.faction4{
  background-color:transparent; border-radius:50px;
  box-shadow: 0 0 8px #eb584d, inset 0 0 8px #eb584d;
  -webkit-animation: faction4-pulse 2s linear 1s infinite;
}
@-webkit-keyframes faction4-pulse {
  0% { box-shadow:0 0 8px #eb584d, inset 0 0 8px #eb584d; }
  50% { box-shadow:0 0 16px #eb584d, inset 0 0 14px #eb584d; }
  100% { box-shadow:0 0 8px #eb584d, inset 0 0 8px #eb584d; }
}