.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 41px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  color: rgba(0, 128, 0, 0.473);
}
.inventory-screens {
  background-color: rgb(1, 195, 230);
  width: 300px;
  height: 400px;
  position: absolute;
  top: 2%;
  left: 20%;
  border-radius: 10%;
  opacity: 0.9;
  border-style: outset;
  border-width: 10;
  border-color: rgb(24, 86, 105);
}

#debug {
  background-color: white;
  position: absolute;
  z-index: 4;
}

#minigameIframe {
  background: rgba(5, 5, 5, 0.7);
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 20%;
  width: 60%;
  height: 66%;
  display: block;
  margin-top: 25%;
  visibility: hidden;
  border-width: 0px;
  border-radius: 40px;
  z-index: 4;
}

#inventoryButton {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-left: -300px;
  margin-top: 70px;
}

#inventoryDisplay {
  position: absolute;
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: -100px;
  margin-top: 290px;
}

#descDisplay {
  background-color: rgb(6, 57, 102);
  width: 200px;
  min-height: 200px;
  position: absolute;
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10%;
  opacity: 0.9;
  border-style: double;
  border-width: 10;
  margin-left: 155px;
  margin-top: 190px;
  white-space: pre-line;
}

#desc {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 15%;
  opacity: 1;
}

#resourceBox {
  width: 400px;
  height: 150px;
  background-color: rgba(59, 59, 59, 0.4);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#resourceItems {
  position: absolute;
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 33px;
}

#currencyText,
#fuelText {
  display: inline;
  font-size: 30px;
  color: white;
}
